h3{
  font-size: 1.3em;
}

#about{
  background-color: white;
  //height: 100vh;
  color: $navy-blue;
  p{
    font-weight: 400;
  }
}

#aboutHeading{
  font-size:1.5em;
  margin-top: 55%;
}

#aboutImg {
  margin-top: 30px;
}

#me{
  width: 90%;
  margin-left: 5%;
}

#ido{
  background-color: $dark-purple;
  color: white;
  h3{
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5px;
  }
  p{
    font-weight: 300;
    margin-bottom: 2em;
  }
}

.accent-underline{
  width: 50px;
  border-bottom: 4px solid $pink;
}

#do-underline{
  width: 15%;
  margin-left: 42.5%;
}

@media screen and (min-width: 750px){
  #about{
    p{
      font-size: 1.5em;
    }
  }

  #aboutHeading{
    font-size: 2.15em;
  }

  #aboutMeTex{
    margin-bottom: 15%;
    margin-top:  3%;
  }
  #ido h3{
    font-size: 2em;
  }
  #aboutImg{
    margin-top: 50px;
    img{
      margin-left: 0;
    }
  }
}

@media screen and (min-width: 1000px){
  #aboutMeTex{
    margin-bottom: 10%;
  }
  #ido {
    h3{
      margin-top: 6%;
    }
    p{
      margin-bottom: 6%;
    }
  }
  #aboutImg{
    img{
      width: 50%;
    }
  }
}
