#contact{
  display: block;
  overflow: auto;
  // background-color: $blue;
  background: #3e2dcb; /* Old browsers */
  background: -moz-linear-gradient(top, #3e2dcb 0%, #2f2398 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3e2dcb 0%,#2f2398 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3e2dcb 0%,#2f2398 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2dcb', endColorstr='#2f2398',GradientType=0 ); /* IE6-9 */
  margin-bottom: 0px;
  h2{
    margin-top: 15%;
  }
}

#textarea1{
  background-color: white;
  color: $navy-blue;
  margin-bottom: 0px;
  //padding-left: 10px;
}

#name, #email{
  margin-bottom: 0px;
}

#contact-p, #form-name, #form-email, #form-text{
  margin-top: 6px;
  margin-bottom: 6px;
}

.incorrect{
  color: $pink;
  font-family: $lato;
}

.test-button{
  background-color: $pink;
  width: 100px;
  height: 75px;
}

@media screen and (min-width: 375px) {
  #contact{
    height: 95vh;
  }
}

@media screen and (min-width:750px){
  #contact{
    height: 100vh;
    .accent-text{
      margin-top: 10%;
      font-size: 1.9em;
    }
    h2{
      margin-top: 20%;
    }
  }
  p{
    font-size: 1.5em;
  }
}

@media screen and (min-width: 1000px){
  #contact h2{
    margin-top: 15%;
  }
}
// form::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//   color: white;
// }
//
// textarea::-moz-placeholder { /* Firefox 19+ */
//   color: white;
// }
//
// textarea:-ms-input-placeholder { /* IE 10+ */
//   color: white;
// }
//
// textarea:-moz-placeholder { /* Firefox 18- */
//   color: white;
//   opacity: 1
// }
//
// textarea::placeholder{
//   color: white;
// }
