#contact{
  height: 95vh;
  background-color: $blue;
  margin-bottom: 0px;
  h2{
    margin-top: 55px;
  }
}

#contact-p{
  margin-top: 6px;
}

#textarea1{
  background-color: white;
  color: $navy-blue;
}
