footer{
  color: $navy-blue;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.6em;
  padding-top: 0px;
  padding-bottom: 0px;
  margin: 0 auto;
  p{
    margin: 10px 0 10px 0;
    font-size: 1em;
    font-family: $ms;
  }
}

@media screen and (min-width: $mini-tablet-up){
    footer{
      p{
        font-size: 1.3em;
      }
    }
}
