nav{
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin-top: 0;
  ul{
    li{
      float: none;
      display: block;
    }
  }
}

#nav{
  margin-top: 15vh;
}

#nav a{
  padding: 0px 0px 3px 0px;
  font-size: .6em;
  display: inline;
  position: relative;
  transition: 0.3s ease-in;
}

#nav ul li a:hover{
    background-color: transparent;
}

#nav ul li a:after{
  background-color: transparent;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 4px solid $pink;
  transition: 0.3s ease-out;
}

#nav ul li a:hover:after{
  width: 100%;
}

#nav li{
  margin-bottom: 2%;
}

#mainNav{
  :hover{
    cursor: pointer;
    color: $dark-pink;
  }
}

#nav-button{
  float: right;
  position: fixed;
  right: 0px;
  top: 0px;
  font-size: 4.375em;
  margin-top: 4%;
  margin-right: 4%;
  -webkit-transition: 0.3s ease-out;
  -moz-transition:0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
  z-index: 100;
  color: $pink;
  cursor: pointer;
}

#nav-container{
  background: #3e2dcb; /* Old browsers */
  background: -moz-linear-gradient(top, #3e2dcb 0%, #2f2398 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #3e2dcb 0%,#2f2398 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #3e2dcb 0%,#2f2398 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2dcb', endColorstr='#2f2398',GradientType=0 ); /* IE6-9 */
  text-transform: uppercase;
  font-family: $ms;
  font-size: 2em;
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 500;
  display: none;
  overflow: scroll;
  -webkit-animation: 0.6s fadeUp;
	-moz-animation: 0.6s fadeUp;
	-o-animation: 0.6s fadeUp;
	animation: 0.6s fadeUp;
  a{
    color: white;
  }
}

@-webkit-keyframes fadeUp{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fadeOut{
  -webkit-animation: 0.6s fadeOut;
	-mox-animation: 0.6s fadeOut;
	-o-animation: 0.6s fadeOut;
	animation: 0.6s fadeOut;
}

@-webkit-keyframes fadeOut{
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}


#nav-close{
  color: $pink;
  cursor: pointer;
  float: right;
  font-size: 1em;
  margin-top: 6%;
  margin-right: 6%;
  -webkit-transition: 0.3s ease-out;
  -moz-transition:0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#nav-close:hover{
  color: $dark-pink;
}

@media screen and (min-width: 750px){
  #nav-button{
    font-size: 7em;
  }
  #nav-close{
    font-size: 2em;
  }
  #nav {
  li{
    font-size:2em;
    }
  }
}

@media screen and (min-width: 1000px){
  #nav-button{
    margin-left: 0;
    margin-top: 3%;
  }
  #nav{
    li{
      font-size:1.5em;
      //margin-top: 0;
    }
  }
  #nav-close{
    margin-top: 3%;
    margin-left: 3%;
  }
}
