
#home-background{
background: #3e2dcb; /* Old browsers */
background: -moz-linear-gradient(top, #3e2dcb 0%, #2f2398 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #3e2dcb 0%,#2f2398 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #3e2dcb 0%,#2f2398 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e2dcb', endColorstr='#2f2398',GradientType=0 ); /* IE6-9 */
height: 100vh;
position: relative;
}

#logo{
  width: 90%;
  margin-left: 5%;
  margin-top: 45%;
  display: block;
}

#home{
  p{
    text-align: center;
    margin-top: 5%;
    font-size: 1em;
  }
}

#headphones{
  position: absolute;
  width: 20%;
  right:0;
  top:65%;
}

#mug{
  position: absolute;
  bottom: 1em;
  left: 0.6em;
  width: 25%;
}

#notebook{
  position: absolute;
  width: 40%;
  top: 80%;
  right: 0;
}

#keyboard{
  position: absolute;
  width:50%;
  top:0;
  margin-left: 0px;
}


//MEDIA QUERIES START HERE

//mobile view LANDSCAPE
@media screen
  and (min-width: 320px)
  and (orientation: landscape) {
  #headphones{
    width: 12%;
    top: 55%;
  }
  #logo{
    margin-top: 18%;
    width: 50%;
    margin-left: 25%;
  }
  #keyboard{
    width: 30%;
    //margin-left: 30%;
  }
  #mug{
    width: 12%;
  }
  #notebook{
    width: 20%;
  }
}

@media screen and (min-width: 375px)
and (orientation: portrait){
  #logo{
    margin-top: 55%;
  }
  .btn-large{
    margin-top: 15px;
  }
  #home p{
    font-size: 1.2em;
  }
}

@media screen
  and (min-width: 500px)
  and (orientation: landscape) {
  #home-background{
    min-height: 350px;
  }
}

@media screen and (min-width: 600px)
and (orientation: portrait)
{
  #logo{
    width: 70%;
    margin-left: 15%;
    top: 40%;
  }
  #home p{
    font-size: 1.7em;
  }
  #notebook{
    width: 30%;
  }
  #headphones{
    width: 15%;
    top: 65%;
  }
  #mug{
    width: 17%;
  }
}

//iphone x
@media screen and (min-width: 800px)
and (orientation: landscape){
  #keyboard{
    width: 25%;
  }

  #logo{
    width: 35%;
    margin-left: 32.5%;
  }
}

@media screen
  and (min-width: 960px)
  and (orientation: landscape) {
  #headphones{
    width: 12%;
    top: 55%;
  }
  #logo{
    //margin-top: 0px;
    width: 50%;
    margin-left: 25%;
  }
  #keyboard{
    width: 30%;
  }
  #mug{
    width: 12%;
  }
  #notebook{
    width: 20%;
  }
}

@media screen and (min-width: 1000px){
  #home-background{
    min-height: 600px;
  }
  #logo{
    width: 60%;
    margin-left: 20%;
    margin-top: 20%;
  }
  #keyboard{
    width: 25%;
  }
  #notebook{
    width: 17%;
  }
  #headphones{
    width:8%;
    top:60%;
  }
  #mug{
    width:12%;
  }
  #home p{
    font-size: 1.4em;
  }
}

@media only screen
  and (min-width: 1024px)
  and (max-width: 1024px)
  and (orientation: portrait)
  {
    #home p{
      font-size: 1.9em;
    }
    #logo{
      margin-top: 60%;
      width: 100%;
      margin-left: 0%;
    }
    #keyboard{
      width: 35%;
    }
    #notebook{
      width: 20%;
      top: 90%;
    }
    #headphones{
    top: 80%;
    }
    #mug{
      bottom: 5%;
      right: 5%;
    }
}

@media only screen
  and (min-width: 1366px)
  and (max-width: 1366px)
  and (orientation: landscape)
  {
    #logo{
      margin-top: 35%;
    }
}

@media screen and (min-width: 1200px){
  #home-background{
    min-height:650px;
  }
}

@media screen and (min-width: 1400px){
  #home-background{
    min-height:750px;
  }
}

@media screen and (min-width: 1800px){
  #home-background{
    min-height:850px;
  }
  #keyboard{
    max-width: 50vh;
  }
  #mug{
    max-width: 25vh;
  }
  #notebook{
    max-width: 25vh;
  }
  #headphones{
    max-width: 15vh;
  }
}

@media screen and (min-width: 2500px){
  #home-background{
    min-height:950px;
  }
}
