//primary colour palette
$blue: #3d21ce;

$teale: #2ed7dd;

$purple: #b0acf9;

$pink: #ff5bb4;

//secondary colour palette
$navy-blue: #2b1990;

$dark-teale: #0cb0bf;

$powder-blue: #d7feff;

$dark-purple: #7475cf;

$light-purple: #d9d8ff;

$dark-pink: darken($pink, 10%);

$light-pink: lighten($pink, 10%);

$grey: #454444;
